{% extends "base.html" %}

{% block primary %}
<div id="innerContent">
    <div id="launchpage-container">
        {% if errorMessage %}
            <div class="errorMessageDisplay alert alert-error">
                <p>{{ errorMessage }}</p>
            </div>
        {% endif %}

        <div id="launchpageInfo">
            <h3>Welcome!</h3>
            
        </div>
        <div id="launchpageSolicitation">
            <p>
                If you would like us to contact you when this is up and running,
                just put your email in the box.
            </p>
        </div>
        <form action="{{ action }}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <ul class="formError">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <div id="launchpage-form-fields">
                {% for field in form.visible_fields %}
                    <div class="launchpage-form-fieldContainer">
                        {% if field.errors %}
                            <div class="launchpage-form-error alert alert-error">{{ field.errors }}</div>
                        {% endif %}
                        <div class="launchpage-form-fieldRow">
                            <div class="launchpage-form-label">{{ field.label_tag }}</div>
                            <div class="launchpage-form-input">{{ field }}</div>
                            {% if forloop.last %}
                                <div id="launchpage-form-submit"><input type="submit" value="Submit" /></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </form>
    </div>
</div>
{% endblock primary %}
