{% extends "base.html" %}

{% block primary %}
<div id="innerContent">
    <div id="enterAccessCode-container">
        <form action="{{ action }}" method="POST">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <ul class="formError">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <div id="enterAccessCode-form-fields">
                {% for field in form.visible_fields %}
                    <div class="enterAccessCode-form-fieldContainer">
                        <div class="enterAccessCode-form-label">{{ field.label_tag }}</div>
                        <div class="enterAccessCode-form-error">{{ field.errors }}</div>
                        <div class="enterAccessCode-form-input">{{ field }}</div>
                    </div>
                {% endfor %}
                
                <div id="enterAccessCode-form-submit"><input type="submit" value="Submit" /></div>
            </div>
        </form>
    </div>
	<div id="enterAccessCode-footer">
		
	</div>
</div>
{% endblock primary %}
